<!-- Breadcrumb -->
<div class="breadcrumb">
    <div class="container">
        <div class="bread-crumb-head">
            <div class="breadcrumb-title">
                <h2>Maison Pro</h2>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li><a href="">Accueil </a></li>
                    <li>Maison pro</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-border-img">
            <img src="assets/img/bg/line-bg.png" alt="Line Image">
        </div>
    </div>
</div>
<!-- Breadcrumb -->

<!-- Detail View Section -->
<section class="buy-detailview">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- Slider -->
                <div class="buy-details-col">
                    <div class="rental-card">
                        <div class="slider rental-slider">
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-1.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-2.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-3.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-4.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-5.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-6.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-7.jpeg" alt="Slider">
                            </div>
                        </div>
                        <div class="slider slider-nav-thumbnails">
                            <div><img src="assets/img/img-maison-pro-1.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-2.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-3.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-4.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-5.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-6.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-7.jpeg" alt="product image"></div>
                        </div>
                    </div>
                </div>
                <!-- /Slider -->

                <!-- Servante -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#servante"
                            aria-expanded="false">Servantes</a>
                    </h4>
                    <div id="servante" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Faites appel à nos servantes professionnelles pour un service impeccable et une maison
                            toujours bien entretenue.
                        </div>
                    </div>
                </div>
                <!-- /Servante -->

                <!-- Serveuse -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#serveuse"
                            aria-expanded="false">Serveuses</a>
                    </h4>
                    <div id="serveuse" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos serveuses compétentes sont là pour rendre votre événement inoubliable, avec un service
                            de qualité et une attention personnalisée.
                        </div>
                    </div>
                </div>
                <!-- /Serveuse -->

                <!-- Barmaids -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#barmaids"
                            aria-expanded="false">Barmaids</a>
                    </h4>
                    <div id="barmaids" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Laissez nos talentueuses barmaids créer des cocktails exquis et animés pour vos soirées. Un
                            véritable savoir-faire derrière le bar.
                        </div>
                    </div>
                </div>
                <!-- /Barmaids -->

                <!-- Cuisiniers -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#cuisiniers"
                            aria-expanded="false">Cuisinier(e)s</a>
                    </h4>
                    <div id="cuisiniers" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Impressionnez vos invités avec notre équipe de cuisiniers passionnés, prêts à mettre en
                            œuvre des recettes inspirées pour ravir vos papilles.
                        </div>
                    </div>
                </div>
                <!-- /Cuisiniers -->

                <!-- Vendeuses -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#vendeuses"
                            aria-expanded="false">Vendeuses</a>
                    </h4>
                    <div id="vendeuses" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos vendeuses professionnelles vous guideront dans vos choix, afin de trouver les articles
                            parfaits pour vous, avec un service client exceptionnel.
                        </div>
                    </div>
                </div>
                <!-- /Vendeuses -->

                <!-- Chauffeurs -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#chauffeurs"
                            aria-expanded="false">Chauffeurs</a>
                    </h4>
                    <div id="chauffeurs" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos chauffeurs expérimentés vous offrent un service de transport sûr et fiable. Profitez de
                            votre trajet en toute tranquillité.
                        </div>
                    </div>
                </div>
                <!-- /Chauffeurs -->

                <!-- Répétiteurs -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#répétiteurs"
                            aria-expanded="false">Répétiteurs</a>
                    </h4>
                    <div id="répétiteurs" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Bénéficiez d'un soutien scolaire de qualité grâce à nos répétiteurs compétents, qui rendront
                            l'apprentissage efficace et agréable.
                        </div>
                    </div>
                </div>
                <!-- /Répétiteurs -->

                <!-- Agents de sécurité -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#agents" aria-expanded="false">Agents de
                            sécurité</a>
                    </h4>
                    <div id="agents" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Soyez assuré(e) d'un environnement sécurisé grâce à nos agents de sécurité qualifiés. Votre
                            tranquillité d'esprit est notre priorité.
                        </div>
                    </div>
                </div>
                <!-- /Agents de sécurité -->

                <!-- Agents d'accueil -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#agentsa" aria-expanded="false">Agent
                            d'accueil</a>
                    </h4>
                    <div id="agentsa" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            &quot;Renforcez l&#39;expérience de vos clients grâce à nos agents d&#39;accueil
                            professionnels. Que ce soit dans les hôtels, les entreprises ou les
                            événements spéciaux, nos agents d&#39;accueil sont formés pour offrir un accueil
                            chaleureux, fournir des informations pertinentes et garantir une expérience
                            client exceptionnelle. Profitez d&#39;un service personnalisé et d&#39;une équipe
                            dévouée qui répondra aux besoins de vos clients avec professionnalisme et
                            courtoisie.&quot;
                        </div>
                    </div>
                </div>
                <!-- /Agents d'accueil -->

                <!-- Pressing -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#pressing"
                            aria-expanded="false">Pressing</a>
                    </h4>
                    <div id="pressing" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Confiez-nous vos vêtements et laissez notre service de pressing professionnel s'occuper de
                            les nettoyer et de les repasser avec soin.
                        </div>
                    </div>
                </div>
                <!-- /Pressing -->
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4 theiaStickySidebar">
                <div class="right-sidebar">
                    <!-- Enquiry -->
                    <div class="sidebar-card">
                        <div class="sidebar-card-title pb-3">
                            <h5 class="mb-1">Demande d'informations</h5>
                            <small>Vous êtes intéressés, demandez plus d'informations à Mbaaza</small>
                        </div>
                        <div>
                            <div class="review-form">
                                <select class="select">
                                    <option value="0">QUE VOULEZ-VOUS ?</option>
                                    <option value="1">AVOIR PLUS D'INFORMATIONS</option>
                                    <option value="2">AUTRES</option>
                                </select>
                            </div>
                            <div class="review-form">
                                <input type="text" class="form-control" placeholder="Votre Nom">
                            </div>
                            <div class="review-form">
                                <input type="email" class="form-control" placeholder="Votre Email">
                            </div>
                            <div class="review-form">
                                <input type="text" class="form-control" placeholder="Votre Téléphone">
                            </div>
                            <div class="review-form">
                                <textarea rows="5" placeholder="Message">{{ textes[choice] }}</textarea>
                            </div>
                            <div class="review-form submit-btn">
                                <button type="submit" class="btn-primary">Envoyer</button>
                            </div>
                        </div>
                        <ul class="connect-us">
                            <li><a href="tel:+2250779706401"><i class="feather-phone"></i>Appelez-nous</a></li>
                            <li><a href="https://wa.me/22579706401"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Enquiry -->

                </div>
            </div>
            <!-- /Sidebar -->

        </div>
    </div>
</section>
<!-- /Detail View Section -->