<!-- Breadcrumb -->
<div class="breadcrumb">
    <div class="container">
        <div class="bread-crumb-head">
            <div class="breadcrumb-title">
                <h2>Maison Pro</h2>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li><a href="">Accueil </a></li>
                    <li>Maison pro</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-border-img">
            <img src="assets/img/bg/line-bg.png" alt="Line Image">
        </div>
    </div>
</div>
<!-- Breadcrumb -->

<!-- Detail View Section -->
<section class="buy-detailview">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- Slider -->
                <div class="buy-details-col">
                    <div class="rental-card">
                        <div class="slider rental-slider">
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-1.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-2.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-3.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-4.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-5.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-6.jpeg" alt="Slider">
                            </div>
                            <div class="product-img">
                                <img src="assets/img/img-maison-pro-7.jpeg" alt="Slider">
                            </div>
                        </div>
                        <div class="slider slider-nav-thumbnails">
                            <div><img src="assets/img/img-maison-pro-1.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-2.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-3.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-4.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-5.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-6.jpeg" alt="product image"></div>
                            <div><img src="assets/img/img-maison-pro-7.jpeg" alt="product image"></div>
                        </div>
                    </div>
                </div>
                <!-- /Slider -->

                <!-- Servante -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#servante"
                            aria-expanded="false">Servantes</a>
                    </h4>
                    <div id="servante" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos servantes débordent d'attention et de soins, prenant en charge les tâches ménagères avec
                            précision et bienveillance pour vous offrir un environnement accueillant et ordonné.
                        </div>
                    </div>
                </div>
                <!-- /Servante -->

                <!-- Serveuse -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#serveuse"
                            aria-expanded="false">Serveuses</a>
                    </h4>
                    <div id="serveuse" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos servantes débordent d'attention et de soins, prenant en charge les tâches ménagères avec précision et bienveillance pour vous offrir un environnement accueillant et ordonné.
                        </div>
                    </div>
                </div>
                <!-- /Serveuse -->

                <!-- Barmaids -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#barmaids"
                            aria-expanded="false">Barmaids</a>
                    </h4>
                    <div id="barmaids" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos barmaids talentueuses créent des cocktails exquis et ambiances festives, ajoutant une touche de magie à votre événement et faisant de chaque verre un moment spécial.
                        </div>
                    </div>
                </div>
                <!-- /Barmaids -->

                <!-- Cuisiniers -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#cuisiniers"
                            aria-expanded="false">Chefs Cuisiniers</a>
                    </h4>
                    <div id="cuisiniers" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les chefs cuisiniers de Mbaaza ravissent vos papilles avec des créations gastronomiques exquises, garantissant une expérience culinaire inoubliable.
                        </div>
                    </div>
                </div>
                <!-- /Cuisiniers -->

                <!-- Vendeuses -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#vendeuses"
                            aria-expanded="false">Vendeuses</a>
                    </h4>
                    <div id="vendeuses" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos vendeuses passionnées et expertes guident vos clients à travers une expérience d'achat personnelle et engageante, garantissant satisfaction et fidélité à votre marque.
                        </div>
                    </div>
                </div>
                <!-- /Vendeuses -->

                <!-- Chauffeurs -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#chauffeurs"
                            aria-expanded="false">Chauffeurs</a>
                    </h4>
                    <div id="chauffeurs" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos chauffeurs naviguent avec élégance à travers les rues pour vous offrir un voyage en toute sécurité et confort. Faites l'expérience du luxe en déplacement avec nos chauffeurs attentionnés.
                        </div>
                    </div>
                </div>
                <!-- /Chauffeurs -->

                <!-- Répétiteurs -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#répétiteurs"
                            aria-expanded="false">Répétiteurs</a>
                    </h4>
                    <div id="répétiteurs" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos répétiteurs talentueux apportent clarté et compréhension à chaque leçon, aidant les apprenants à exceller dans leurs études et à épanouir leur potentiel académique.
                        </div>
                    </div>
                </div>
                <!-- /Répétiteurs -->

                <!-- Agents de sécurité -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#agents"
                            aria-expanded="false">Agents de
                            sécurité</a>
                    </h4>
                    <div id="agents" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos agents de sécurité veillent en silence, protégeant vos espaces avec professionnalisme et vigilance. Profitez de la tranquillité d'esprit avec nos gardiens dédiés.
                        </div>
                    </div>
                </div>
                <!-- /Agents de sécurité -->

                <!-- Agents d'accueil -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#agentsa"
                            aria-expanded="false">Agent
                            d'accueil</a>
                    </h4>
                    <div id="agentsa" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos agents d'accueil accueillent chaque visiteur avec un sourire chaleureux et une assistance amicale, créant une première impression inoubliable pour votre entreprise.
                        </div>
                    </div>
                </div>
                <!-- /Agents d'accueil -->

                <!-- Pressing -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#pressing"
                            aria-expanded="false">Services de pressing</a>
                    </h4>
                    <div id="pressing" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Notre service de pressing pratique et efficace prend soin de vos vêtements avec expertise, assurant un aspect impeccable et soigné à chaque tenue.
                        </div>
                    </div>
                </div>
                <!-- /Pressing -->

                <!-- Coachs de Vie -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#coachvie"
                            aria-expanded="false">Coachs de Vie</a>
                    </h4>
                    <div id="coachvie" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos coachs de vie inspirent le changement positif et vous guident vers la réalisation de vos objectifs personnels et professionnels avec bienveillance.
                        </div>
                    </div>
                </div>
                <!-- /Coachs de Vie -->

                <!-- Coachs sportifs -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#coachsportif"
                            aria-expanded="false">Coachs sportifs</a>
                    </h4>
                    <div id="coachsportif" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les coachs sportifs de Mbaaza vous motivent à repousser vos limites et à atteindre vos performances physiques maximales de manière amusante et motivante.
                        </div>
                    </div>
                </div>
                <!-- /Coachs sportifs -->

                <!-- Couturiers -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#couturiers"
                            aria-expanded="false">Couturiers</a>
                    </h4>
                    <div id="couturiers" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les couturiers de talent de Mbaaza créent des tenues sur-mesure qui vous font briller sur le devant de la scène, alliant élégance et style unique.
                        </div>
                    </div>
                </div>
                <!-- /Couturiers -->

                <!-- Concierges Personnels -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#concierge"
                            aria-expanded="false">Concierges Personnels</a>
                    </h4>
                    <div id="concierge" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les concierges personnels de Mbaaza prennent en charge tous les détails de votre quotidien, offrant un service sur-mesure pour vous faciliter la vie avec classe.
                        </div>
                    </div>
                </div>
                <!-- /Couturiers -->

                <!-- Designers d'Intérieur -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#designer"
                            aria-expanded="false">Designers d'Intérieur</a>
                    </h4>
                    <div id="designer" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les espaces de vos rêves deviennent réalité grâce aux designers d'intérieur de Mbaaza, qui harmonisent couleurs, textures et styles pour une ambiance parfaite.
                        </div>
                    </div>
                </div>
                <!-- /Designers d'Intérieur -->

                <!-- Coachs en Développement Personnel -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#coachdev"
                            aria-expanded="false">Coachs en Développement Personnel</a>
                    </h4>
                    <div id="coachdev" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos coachs en développement personnel vous guident vers la meilleure version de vous-mêmes, débloquant votre plein potentiel de manière inspirante.
                        </div>
                    </div>
                </div>
                <!-- /Coachs en Développement Personnel -->

                <!-- Photographes -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#photographes">
                            aria-expanded="false">Photographes</a>
                    </h4>
                    <div id="photographes" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Capturez l'instant parfait avec nos photographes talentueux de Mbaaza, qui figent les moments précieux dans des images intemporelles.
                        </div>
                    </div>
                </div>
                <!-- /Photographes -->

                <!-- Traducteurs Multilingues -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#traducteur"
                            aria-expanded="false">Traducteurs Multilingues</a>
                    </h4>
                    <div id="traducteur" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos traducteurs multilingues facilitent la communication entre différentes langues, assurant une compréhension claire et fluide dans toutes les conversations.
                        </div>
                    </div>
                </div>
                <!-- /Traducteurs Multilingues -->

                <!-- Coachs Financiers -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#coachfin"
                            aria-expanded="false">Coachs Financiers</a>
                    </h4>
                    <div id="coachfin" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les coachs financiers de Mbaaza vous aident à gérer vos finances avec sagesse et à atteindre vos objectifs d'abondance et de prospérité.
                        </div>
                    </div>
                </div>
                <!-- /Coachs Financiers -->

                <!-- Consultants en Marketing -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#consultantmark"
                            aria-expanded="false">Consultants en Marketing</a>
                    </h4>
                    <div id="consultantmark" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les consultants en marketing de Mbaaza développent des stratégies percutantes pour promouvoir votre marque et attirer l'attention de votre public cible.
                        </div>
                    </div>
                </div>
                <!-- /Consultants en Marketing -->

                <!-- Stylistes -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#stylistes"
                            aria-expanded="false">Stylistes</a>
                    </h4>
                    <div id="stylistes" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Confiez votre style à nos stylistes de renom qui sauront sublimer votre image avec des tenues glamour et des conseils mode personnalisés.
                        </div>
                    </div>
                </div>
                <!-- /Stylistes -->

                <!-- Gestionnaires de Projets -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#gestprojet"
                            aria-expanded="false">Gestionnaires de Projets</a>
                    </h4>
                    <div id="gestprojet" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos gestionnaires de projets compétents coordonnent chaque étape avec précision, assurant une exécution fluide et efficace de vos projets les plus complexes.
                        </div>
                    </div>
                </div>
                <!-- /Gestionnaires de Projets -->

                <!-- Coiffeurs/Barbiers -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#coiffeur"
                            aria-expanded="false">Coiffeurs/Barbiers</a>
                    </h4>
                    <div id="coiffeur" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos coiffeurs/barbiers talentueux vous assurent une apparence impeccable avec des coupes tendance et des soins capillaires personnalisés.
                        </div>
                    </div>
                </div>
                <!-- /Coiffeurs/Barbiers -->

                <!-- Coachs en Productivité -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#coachprod"
                            aria-expanded="false">Coachs en Productivité</a>
                    </h4>
                    <div id="coachprod" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les coachs en productivité de Mbaaza vous aident à optimiser votre temps et vos ressources pour une efficacité maximale dans tous les aspects de votre vie.
                        </div>
                    </div>
                </div>
                <!-- /Coachs en Productivité -->

                <!-- Secrétaires de Direction -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#secretaire"
                            aria-expanded="false">Secrétaires de Direction</a>
                    </h4>
                    <div id="secretaire" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            La magie opère lorsque nos secrétaires de direction entrent en action ! Organisant avec précision chaque détail et s'assurant que vos affaires avancent sans accroc.
                        </div>
                    </div>
                </div>
                <!-- /Secrétaires de Direction -->

                <!-- Informaticiens -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#informaticiens"
                            aria-expanded="false">Informaticiens</a>
                    </h4>
                    <div id="informaticiens" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Vos sauveurs numériques sont là ! Les informaticiens de Mbaaza résolvent vos problèmes technologiques plus rapidement que vous ne pouvez dire "bug".
                        </div>
                    </div>
                </div>
                <!-- /Informaticiens -->

                <!-- Mannequins -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#Mannequins"
                            aria-expanded="false">Mannequins</a>
                    </h4>
                    <div id="Mannequins" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos mannequins sont prêts à donner vie à vos visions artistiques. Avec grâce et élégance, ils incarnent l'essence de votre projet.
                        </div>
                    </div>
                </div>
                <!-- /Mannequins -->

                <!-- Peintres -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#Peintres"
                            aria-expanded="false">Peintres</a>
                    </h4>
                    <div id="Peintres" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les couleurs prennent vie sous les coups de pinceau de nos peintres talentueux. Transformez vos espaces en œuvres d'art vivantes.
                        </div>
                    </div>
                </div>
                <!-- /Peintres -->

                <!-- Décorateurs -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#Décorateurs"
                            aria-expanded="false">Décorateurs</a>
                    </h4>
                    <div id="Décorateurs" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Laissez les décorateurs de Mbaaza transformer votre espace en un paradis personnalisé. Chaque détail soigneusement choisi pour créer une ambiance enchanteresse.
                        </div>
                    </div>
                </div>
                <!-- /Décorateurs -->

                <!-- Staffeurs -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#Staffeurs"
                            aria-expanded="false">Coachs Financiers</a>
                    </h4>
                    <div id="Staffeurs" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            L'art des staffeurs est inégalable. Des formes élégantes prennent vie sous leurs mains expertes, ajoutant une touche de sophistication à votre intérieur.                        </div>
                    </div>
                </div>
                <!-- /Staffeurs -->

                <!-- Mécaniciens -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#Mécaniciens"
                            aria-expanded="false">Mécaniciens</a>
                    </h4>
                    <div id="Mécaniciens" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Nos mécaniciens sont là pour résoudre les problèmes à toute vitesse. Avec des compétences éprouvées, ils garantissent que tout roule parfaitement.                        </div>
                    </div>
                </div>
                <!-- /Mécaniciens -->

                <!-- Plombiers -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#Plombiers"
                            aria-expanded="false">Plombiers</a>
                    </h4>
                    <div id="Plombiers" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Les plombiers de Mbaaza sont là pour arrêter les fuites et déboucher les canalisations, garantissant que l'eau coule sans problème à la perfection.                        </div>
                    </div>
                </div>
                <!-- /Plombiers -->

                <!-- Jardiniers -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#Jardiniers"
                            aria-expanded="false">Jardiniers</a>
                    </h4>
                    <div id="Jardiniers" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Avec des mains vertes expertes, nos jardiniers transforment votre espace extérieur en un oasis luxuriant. Chaque plante est choyée pour fleurir dans toute sa splendeur.
                        </div>
                    </div>
                </div>
                <!-- /Jardiniers -->

                <!-- Électriciens Bâtiment -->
                <div class="collapse-card">
                    <h4 class="card-title">
                        <a class="collapsed text-orange" data-bs-toggle="collapse" href="#electricien"
                            aria-expanded="false">Électriciens Bâtiment</a>
                    </h4>
                    <div id="electricien" class="card-collapse collapse show">
                        <div class="about-agent collapse-view">
                            Brillants comme des ampoules neuves, nos électriciens bâtiment assurent que votre installation électrique fonctionne en toute sécurité et efficacité.                        </div>
                    </div>
                </div>
                <!-- /Électriciens Bâtiment -->
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4 theiaStickySidebar">
                <div class="right-sidebar">
                    <!-- Enquiry -->
                    <div class="sidebar-card">
                        <div class="sidebar-card-title pb-3">
                            <h5 class="mb-1">Demande d'informations</h5>
                            <small>Vous êtes intéressés, demandez plus d'informations à Mbaaza</small>
                        </div>
                        <div>
                            <div class="review-form">
                                <select class="select">
                                    <option value="0">QUE VOULEZ-VOUS ?</option>
                                    <option value="1">AVOIR PLUS D'INFORMATIONS</option>
                                    <option value="2">AUTRES</option>
                                </select>
                            </div>
                            <div class="review-form">
                                <input type="text" class="form-control" placeholder="Votre Nom">
                            </div>
                            <div class="review-form">
                                <input type="email" class="form-control" placeholder="Votre Email">
                            </div>
                            <div class="review-form">
                                <input type="text" class="form-control" placeholder="Votre Téléphone">
                            </div>
                            <div class="review-form">
                                <textarea rows="5" placeholder="Message">{{ textes[choice] }}</textarea>
                            </div>
                            <div class="review-form submit-btn">
                                <button type="submit" class="btn-primary">Envoyer</button>
                            </div>
                        </div>
                        <ul class="connect-us">
                            <li><a href="tel:+2250779706401"><i class="feather-phone"></i>Appelez-nous</a></li>
                            <li><a href="https://wa.me/22579706401"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Enquiry -->

                </div>
            </div>
            <!-- /Sidebar -->

        </div>
    </div>
</section>
<!-- /Detail View Section -->