<!-- Sort Result -->
<div class="showing-result-head">
    <div class="row">
        <div class="col-lg-6">
            <div class="result-show">
                <a href="tenant/pay-online" class="btn-secondary">Regler mon loyer</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="sort-result">
                <div class="sort-by grid-head">
                    <div>
                        <p>Trier Par Mois</p>
                    </div>
                    <div class="review-form">
                        <select class="select">
                            <option value="">Tous les mois</option>
                            <option value="Janvier">Janvier</option>
                            <option value="Février">Février</option>
                            <option value="Mars">Mars</option>
                            <option value="Avril">Avril</option>
                            <option value="Mai">Mai</option>
                            <option value="Juin">Juin</option>
                            <option value="Juillet">Juillet</option>
                            <option value="Aout">Aout</option>
                            <option value="Septembre">Septembre</option>
                            <option value="Octobre">Octobre</option>
                            <option value="Novembre">Novembre</option>
                            <option value="Décembre">Décembre</option>
                        </select>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="invoice-table table table-bordered">
        <thead>
            <tr>
                <th>Réf.</th>
                <th>Montant versé</th>
                <th>Pénalité</th>
                <th>Versé le</th>
                <th>Moyen de paiement</th>
                <th>Régler par</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let n of [].constructor(4); let i = index">
                <tr>
                    <td>TRS0786AYY</td>
                    <td>$150,000</td>
                    <td>$20,000</td>
                    <td>Lun 15 janvier 2023</td>
                    <td>Orange Money</td>
                    <td>Moi</td>
                    <td align="center">
                        <div style="width: 10px; height: 10px;" class="rounded-circle"
                            [ngClass]="{ 'bg-danger': i%2 === 0, 'bg-success': i%2 === 1 }"></div>
                    </td>
                    <td>
                        <a type="submit" href="assets/quittance.pdf" target="_blank" class="btn-primary">
                            <i class="feather-download"></i>
                        </a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>