<div class="aboutus-page">
    <!-- Breadcrumb -->
    <div class="breadcrumb">
        <div class="container">
            <div class="bread-crumb-head">
                <div class="breadcrumb-title">
                    <h2>A Propos De Nous</h2>
                </div>
                <div class="breadcrumb-list">
                    <ul>
                        <li><a routerLink="/">Accueil </a></li>
                        <li>A Propos De Nous</li>
                    </ul>
                </div>
            </div>
            <div class="breadcrumb-border-img">
                <img src="assets/img/bg/line-bg.png" alt="Line Image">
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->


    <!-- About Us -->
    <section class="aboutus-section">
        <div class="container">
            <!-- About Content -->
            <div class="about-content">
                <h3 class="text-orange mb-5">A Propos De Mbaaza</h3>
                <h2 class="mb-3">Que vous soyez propriétaire ou locataire, connectez vous pour découvrir une expérience unique axée sur vos besoins.</h2>
                <p>Mbaza est une plateforme innovante qui simplifie et numérise la gestion de vos biens immobiliers.
                    Que vous soyez propriétaire ou locataire, découvrez une expérience unique axée sur vos besoins.</p>
                <ol>
                    <li>
                        Gérez vos biens immobiliers en toute simplicité : de la location à la vente, nous vous offrons
                        une solution tout-en-un.
                    </li>
                    <li>
                        Améliorez votre expérience locataire : payez votre loyer en ligne, communiquez avec votre
                        bailleur , suivez vos échéances facilement et téléchargez votre quittance de loyer dans votre
                        compte locataire.
                    </li>
                    <li>
                        Soyez serein en tant que propriétaire : Sans stress , Dans votre compte bailleur suivez en temps
                        réel les paiements de vos locataires et recevez l’argent dans votre compte bancaire.
                    </li>
                </ol>

                <strong class="mt-3">Surveillance professionnelle :
                </strong>

                <ul class="mt-2 mb-3">
                    <li>
                        Un huissier disponible pour gérer les impayés. Nous assurons le suivi des locataires qui ne
                        règlent pas leurs loyers à temps.
                    </li>
                </ul>

                <strong class="mt-3 text-orange">Pré-paiement des loyers :
                </strong>

                <ul class="mt-2 mb-3">
                    <li>
                        Besoin d'un secours financier ? Notre partenariat bancaire permet de prépayer le loyer du
                        locataire en difficulté
                    </li>
                </ul>

                <strong class="mt-3">Propreté impeccable :
                </strong>

                <ul class="mt-2 mb-3">
                    <li>
                        Profitez d'un environnement impeccable grâce à notre service de nettoyage professionnel. Nous
                        nous occupons de l'entretien de l'immeuble
                    </li>
                </ul>

                <strong class="mt-3">Sécurité renforcée :
                </strong>

                <ul class="mt-2 mb-3">
                    <li>
                        Votre tranquillité d'esprit est essentielle. Notre partenaire en sécurité assure la protection
                        de votre immeuble et de ses occupants.
                    </li>
                </ul>

                <p>MBAZA la plate-forme numérisée qui fait gagner en temps et en Argent!</p>
            </div>
            <!-- /About Content -->
        </div>
    </section>
    <!-- /About Us -->

    <!-- Partners -->
    <section class="section partners-sec">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Des partenaires crédibles à travers le monde</h2>
                <div class="sec-line">
                    <span class="sec-line1"></span>
                    <span class="sec-line2"></span>
                </div>
                <p>Chaque jour, nous établissons la confiance grâce à la communication, à la transparence et aux
                    résultats.</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="partners-slider owl-carousel d-flex justify-content-center">
                        <div class="partner-icon">
                            <img src="assets/isbackconcept.png" alt="Partners">
                        </div>
                        <div class="partner-icon">
                            <img src="assets/wave.png" alt="Partners">
                        </div>
                        <div class="partner-icon">
                            <img src="assets/uba.png" alt="Partners">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Partners -->
</div>