<!-- Breadcrumb -->
<div class="breadcrumb">
    <div class="container">
        <div class="bread-crumb-head">
            <div class="breadcrumb-title">
                <h2>Paiement pour un tiers</h2>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li><a href="/">Accueil </a></li>
                    <li>Paiement pour un tiers</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-border-img">
            <img src="assets/img/bg/line-bg.png" alt="Line Image">
        </div>
    </div>
</div>
<!-- Breadcrumb -->

<section class="invoice-section">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 m-auto">
        <div class="card">
            <div class="card-header text-capitalize fw-bold text-center text-primary">
                Paiement pour un tiers
            </div>
            <div class="card-body p-1">
                <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex"></p-steps>
            </div>
        </div>
        <div class="card">
            <div class="card-body p-1">
                <div *ngIf="activeIndex === 0">
                    <form class="row">
                        <div class="review-form col-12">
                            <input type="text" class="form-control" placeholder="Entrez La Référence Du Locataire"
                                [(ngModel)]="referenceLocataire" [ngModelOptions]="{standalone: true}">

                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <loader *ngIf="isLoading" type="ellipsis"></loader>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="button" class="btn-lightred" (click)="getOneByReference()">
                                Suivant
                            </button>
                        </div>
                    </form>
                </div>
                <div *ngIf="activeIndex === 1">
                    <div class="dull-bg from-to">
                        <div class="row">
                            <div class="col-12">
                                <h5>Infos personnelles</h5>
                                <p>Réf. : {{infosLocataire.locataireRef}}</p>
                                <p>{{infosLocataire.locataireNom}}</p>
                                <p>{{infosLocataire.locataireEmail}}</p>
                                <p>{{infosLocataire.locataireTel}}</p>
                                <p>Montant du loyer : {{infosLocataire.propriete.proprietePrix}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning">Veuillez vérifiez la conformité des informations ci-dessus avant de
                        procéder à un quelconque paiement. Merci !</div>
                    <form action="#" class="row">
                        <div class="review-form col-md-8 col-sm-12">
                            <select class="select form-select"  [(ngModel)]="selectedMonth" [ngModelOptions]="{standalone: true}">
                                <option value="" selected disabled>Choisissez le mois a regler</option>
                                <option value="Janvier">Janvier</option>
                                <option value="Février">Février</option>
                                <option value="Mars">Mars</option>
                                <option value="Avril">Avril</option>
                                <option value="Mai">Mai</option>
                                <option value="Juin">Juin</option>
                                <option value="Juillet">Juillet</option>
                                <option value="Août">Août</option>
                                <option value="Septembre">Septembre</option>
                                <option value="Octobre">Octobre</option>
                                <option value="Novembre">Novembre</option>
                                <option value="Décembre">Décembre</option>
                            </select>
                        </div>
                        <div class="review-form col-md-4 col-sm-12">
                            <input type="number" class="form-control"
                                [(ngModel)]="loyer_annee" [ngModelOptions]="{standalone: true}" >
                        </div>
                        <div class="review-form col-md-6 col-sm-12">
                            <input type="number" class="form-control"
                                [(ngModel)]="montantpayer" [ngModelOptions]="{standalone: true}" style="color: red;">
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="button" class="btn-secondary me-2" (click)="activeIndex = 0">
                                Précédent
                            </button>
                            <button type="button" class="btn-lightred" (click)="suivanta2()">
                                Suivant
                            </button>
                        </div>
                    </form>
                </div>
                <div *ngIf="activeIndex === 2">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Réf.</th>
                                    <th>Nom & Prénom(s)</th>
                                    <th>Montant à payer</th>
                                    <th>Mois à regler</th>
                                    <th>Moyen de paiement</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr>
                                        <td>{{infosLocataire.locataireRef}}</td>
                                        <td>{{infosLocataire.locataireNom}}</td>
                                        <td>{{montantpayer}}</td>
                                        <td>{{selectedMonth}}</td>
                                        <td>
                                            <div class="review-form">
                                                <select class="select form-select">
                                                    <option value="">Wave</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="alert alert-warning">Veuillez vérifiez la conformité des informations ci-dessus
                            avant de procéder à un quelconque paiement. Merci !</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <loader *ngIf="isLoading" type="ellipsis"></loader>
                            </div>
                        <div class="d-flex justify-content-end align-items-center mt-3">
                            <button type="button" class="btn-secondary me-2" (click)="activeIndex = 1">
                                Précédent
                            </button>
                            <button type="button" class="btn-lightred" (click)="payer()">
                                <i class="fa fa-cart-plus me-3"></i>
                                Payer
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="activeIndex === 3">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 m-auto">
                        <img src="assets/E-Wallet-pana.svg" alt="">
                        <!--div class="text-center">
                            <a class="btn-lightred mt-3" href="assets/file.pdf" target="_blank">
                                <i class="fa fa-print me-3"></i>
                                Imprimer le reçu
                            </a>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>