<!-- Breadcrumb -->
<div class="breadcrumb">
    <div class="container">
        <div class="bread-crumb-head">
            <div class="breadcrumb-title">
                <h2>Contactez-nous</h2>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li><a routerLink="/">Accueil </a></li>
                    <li>Contactez-nous</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-border-img">
            <img src="assets/img/bg/line-bg.png" alt="Line Image">
        </div>
    </div>
</div>
<!-- Breadcrumb -->		

<!-- Contact Info Details -->
<section class="section contact-info-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form action="#">     
                    <div class="card">
                        <div class="card-header">
                            <h3>Formulaire De Contact</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-12"> 
                                    <div class="form-group">
                                        <label>Votre Nom</label>
                                        <input type="text" class="form-control" placeholder="Votre Nom">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12"> 
                                    <div class="form-group">
                                        <label>Numéro De Téléphone</label>
                                        <input type="text" class="form-control" placeholder="Numéro De Téléphone">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12"> 
                                    <div class="form-group">
                                        <label>Adresse E-mail</label>
                                        <input type="email" class="form-control" placeholder="Entrez Votre Adresse Email">
                                    </div>
                                </div>		
                                <div class="col-lg-6 col-12"> 
                                    <div class="form-group">
                                        <label>Pays</label>
                                        <select class="select">
                                            <option value="0">Choisir </option>
                                            <option value="India">India</option>
                                            <option value="United States">United States</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Qatar">Qatar</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12"> 
                                    <div class="form-group">
                                        <label>Sujet</label>
                                        <input type="text" class="form-control" placeholder="Entrez Votre Sujet">
                                    </div>
                                </div>							
                                <div class="col-md-12"> 
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea class="form-control" rows="14" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>		
                            <button type="submit" class="btn-primary">Envoyer</button>
                        </div>
                    </div>					
                </form>
            </div>
            <div class="col-lg-6">
                <h3>Informations</h3>
                <div class="row">
                    <div class="col-lg-12 d-flex">
                        <div class="flex-fill">
                            <div class="contact-info-details d-flex align-items-center">
                                <span><img src="assets/img/icons/phone.svg" alt="Image"></span>
                                <div>														
                                    <h4>Notre Téléphone</h4>
                                    <a href="tel:+2250779706401">+225 07 797 064 01</a>,
                                    <a href="tel:+2250565641710">+225 05 656 117 10</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                        <div class="flex-fill">
                            <div class="contact-info-details d-flex align-items-center">
                                <span><img src="assets/img/icons/mail.svg" alt="Image"></span>
                                <div>														
                                    <h4>Notre E-mail</h4>
                                    <a href="mailto:isbackconcept@gmail.com">isbackconcept@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                        <div class="flex-fill">
                            <div class="contact-info-details d-flex align-items-center">
                                <span><img src="assets/img/icons/map-pin.svg" alt="Image"></span>
                                <div>														
                                    <h4>Localisation</h4>
                                    <p>Cocody Angre château Abidjan groupement 4000 C</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-location">
                    <h3>Où nous trouvez ?</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.201357959408!2d-3.985227626224921!3d5.386250094592739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1930a602018f1%3A0x7029cd441c3f11fe!2sGroupement%204000%20C!5e0!3m2!1sfr!2sci!4v1694372775344!5m2!1sfr!2sci" style="border:0;" height="359" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- /Contact Info Details -->