<p-toast />
<!-- Breadcrumb -->
<div class="breadcrumb">
  <div class="container">
    <div class="bread-crumb-head">
      <div class="breadcrumb-title">
        <h2>Climatisation à domicile</h2>
      </div>
      <div class="breadcrumb-list">
        <ul>
          <li><a href="">Accueil </a></li>
          <li>Climatisation à domicile</li>
        </ul>
      </div>
    </div>
    <div class="breadcrumb-border-img">
      <img src="assets/img/bg/line-bg.png" alt="Line Image" />
    </div>
  </div>
</div>
<!-- Breadcrumb -->

<!-- Detail View Section -->
<section class="buy-detailview">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- Slider -->
        <div class="buy-details-col">
          <div class="rental-card">
            <div class="slider rental-slider">
              <div class="product-img">
                <img src="assets/img/img-clim-1.jpeg" alt="Slider" />
              </div>
              <div class="product-img">
                <img src="assets/img/img-clim-2.jpeg" alt="Slider" />
              </div>
              <div class="product-img">
                <img src="assets/img/img-clim-3.jpeg" alt="Slider" />
              </div>
              <div class="product-img">
                <img src="assets/img/img-clim-4.jpeg" alt="Slider" />
              </div>
              <div class="product-img">
                <img src="assets/img/img-clim-5.jpeg" alt="Slider" />
              </div>
              <div class="product-img">
                <img src="assets/img/img-clim-2.jpeg" alt="Slider" />
              </div>
            </div>
            <div class="slider slider-nav-thumbnails">
              <div>
                <img src="assets/img/img-clim-1.jpeg" alt="product image" />
              </div>
              <div>
                <img src="assets/img/img-clim-2.jpeg" alt="product image" />
              </div>
              <div>
                <img src="assets/img/img-clim-3.jpeg" alt="product image" />
              </div>
              <div>
                <img src="assets/img/img-clim-4.jpeg" alt="product image" />
              </div>
              <div>
                <img src="assets/img/img-clim-5.jpeg" alt="product image" />
              </div>
            </div>
          </div>
        </div>
        <!-- /Slider -->
        <div class="row mb-3">
          <div class="col-12">
            <!-- Overview -->
            <div class="collapse-card">
              <h4 class="card-title">
                <a class="collapsed" data-bs-toggle="collapse" href="#installation" aria-expanded="false">Installation +
                  Entretien (12 000 F par clim/ Mois)</a>
              </h4>
              <div id="installation" class="card-collapse collapse show">
                <div class="about-agent collapse-view">
                  <p>
                    Profitez d'un confort optimal toute l'année avec notre offre
                    spéciale de climatisation à domicile ! Nous vous proposons
                    l'installation gratuite de climatiseurs chez vous, sans
                    frais initiaux. De plus, notre équipe d'experts s'occupera
                    de l'entretien régulier de vos climatiseurs pour vous
                    assurer un fonctionnement optimal. Le tout pour seulement 12
                    000 F par mois, inclus dans votre charge locative de loyer.
                    Dites adieu aux températures extrêmes et offrez-vous un
                    climat intérieur agréable en toute saison. Rejoignez-nous
                    dès aujourd'hui !
                  </p>
                </div>
              </div>
            </div>
            <!-- /Overview -->
          </div>
          <div class="col-12">
            <!-- Overview -->
            <div class="collapse-card">
              <h4 class="card-title">
                <a class="collapsed" data-bs-toggle="collapse" href="#installation" aria-expanded="false">Entretien
                  Simple (50 000 F par clim/ An)</a>
              </h4>
              <div id="installation" class="card-collapse collapse show">
                <div class="about-agent collapse-view">
                  <p>
                    Simplifiez-vous la vie avec notre service d'entretien de
                    climatisation à domicile ! Vous n'avez plus à vous soucier
                    de l'entretien régulier de vos climatiseurs, car notre
                    équipe de professionnels prendra soin de cela pour vous.
                    Avec un paiement annuel de 50 000 F par climatiseur, vous
                    bénéficierez d'un climat intérieur frais et confortable
                    toute l'année, sans tracas. Ne laissez pas la chaleur vous
                    perturber, faites confiance à notre service d'entretien de
                    qualité exceptionnelle. Inscrivez-vous dès maintenant et
                    profitez d'une climatisation performante et durable !
                  </p>
                </div>
              </div>
            </div>
            <!-- /Overview -->
          </div>
        </div>

        <!-- Overview -->
        <div class="collapse-card">
          <h4 class="card-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#about" aria-expanded="false">Description</a>
          </h4>
          <div id="about" class="card-collapse collapse show">
            <div class="about-agent collapse-view">
              À Mbaaza, nous engageons à vous offrir une expérience de confort
              incomparable dans votre maison. Nos services d'installation et
              d'entretien de climatiseurs sont conçus pour répondre à vos
              besoins spécifiques, vous assurant ainsi une température idéale en
              toutes saisons. En optant pour notre solution, vous bénéficierez
              d'une climatisation efficace, d'un entretien professionnel et
              d'une tranquillité d'esprit totale. Ne laissez pas la chaleur ou
              le froid vous déranger, faites confiance à notre équipe de
              professionnels pour vous offrir le confort que vous méritez.
              Rejoignez-nous dès aujourd'hui et découvrez la différence avec la
              Climatisation à Domicile !
            </div>
          </div>
        </div>
        <!-- /Overview -->
      </div>

      <!-- Sidebar -->
      <div class="col-lg-4 theiaStickySidebar">
        <form (ngSubmit)="envoyerForm()">
          <div class="right-sidebar">
            <!-- Enquiry -->
            <div class="sidebar-card">
              <div class="sidebar-card-title pb-3">
                <h5 class="mb-1">Demande d'informations</h5>
                <small>Vous êtes intéressés, demandez plus d'informations à
                  Mbaaza</small>
              </div>
              <div>
                <div class="review-form">
                  <select class="select" [(ngModel)]="choice" name="choice">
                    <option value="0">QUE VOULEZ-VOUS ?</option>
                    <option value="INSTALLATION CLIMATISEUR NEUF">INSTALLATION CLIMATISEUR NEUF</option>
                    <option value="ENTRETIEN DE CLIMATISEUR">ENTRETIEN DE CLIMATISEUR</option>
                    <option value="AVOIR PLUS D'INFORMATIONS">AVOIR PLUS D'INFORMATIONS</option>
                  </select>
                </div>
                <div class="review-form">
                  <input type="text" class="form-control" placeholder="Votre Nom" [(ngModel)]="nomprenoms"
                    name="nomprenoms" />
                </div>
                <div class="review-form">
                  <input type="email" class="form-control" placeholder="Votre Email" [(ngModel)]="email" name="email" />
                </div>
                <div class="review-form">
                  <input type="text" class="form-control" placeholder="Votre Téléphone" [(ngModel)]="tel" name="tel" />
                </div>
                <div class="review-form">
                  <textarea rows="5" placeholder="Message" [(ngModel)]="message" name="message"></textarea>
                </div>
                <p-progressBar mode="indeterminate" *ngIf="loading"
                  [style]="{'height': '3px', 'color':'green'}"></p-progressBar>
                <div class="review-form submit-btn">
                  <button type="submit" class="btn-primary">Envoyer</button>
                </div>
              </div>
              <ul class="connect-us">
                <li>
                  <a href="tel:+2250779706401"><i class="feather-phone"></i>Appelez-nous</a>
                </li>
                <li>
                  <a href="https://wa.me/22579706401"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a>
                </li>
              </ul>
            </div>
            <!-- /Enquiry -->
          </div>
        </form>
      </div>
      <!-- /Sidebar -->
    </div>
  </div>
</section>
<!-- /Detail View Section -->