<div class="vh-100" id="content">
    <p-dialog header="Mot de passe oublié ?" [(visible)]="visible" [modal]="true" [style]="{ width: '35vw' }"
        [draggable]="false" [resizable]="false" [closable]="false">
        <form [formGroup]="formGroup" (ngSubmit)="submit()">
            <figure class="text-center">
                <img src="assets/images/success.gif" alt="">
            </figure>
            <div class="alert alert-danger" *ngIf="error.success">
                <small>{{ error.errorMessage }}</small>
            </div>
            <div class="form-group mb-3">
                <label class="form-label fw-semibold">E-mail <span class="text-danger">*</span></label>
                <input type="email" class="form-control" formControlName="email" placeholder="xxx@mbaza.com" readonly>
            </div>
            <div class="form-group mb-3">
                <label class="form-label fw-semibold">Code <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="code" placeholder="######">
            </div>
            <div class="form-group mb-3">
                <label for="" class="form-label fw-semibold">Nouveau mot de passe <span
                        class="text-danger">*</span></label>
                <div class="input-group border border-info rounded border-opacity-50">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="ti ti-lock"></i>
                    </span>
                    <input [type]="showPwd[0] ? 'text' : 'password'" class="form-control border-0"
                        formControlName="password" formControlName="mdp" placeholder="***********">
                    <span class="input-group-text" id="basic-addon1" style="cursor: pointer;"
                        (click)="showPwd[0] = !showPwd[0]">
                        <i class="ti {{ showPwd[0] ? 'ti-eye-off' : 'ti-eye'}}"></i>
                    </span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="" class="form-label fw-semibold">Confirmer mot de passe <span
                        class="text-danger">*</span></label>
                <div class="input-group border border-info rounded border-opacity-50">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="ti ti-lock"></i>
                    </span>
                    <input [type]="showPwd[1] ? 'text' : 'password'" class="form-control border-0"
                        formControlName="confirmMdp" placeholder="***********">
                    <span class="input-group-text" id="basic-addon1" style="cursor: pointer;"
                        (click)="showPwd[1] = !showPwd[1]">
                        <i class="ti {{ showPwd[1] ? 'ti-eye-off' : 'ti-eye'}}"></i>
                    </span>
                </div>
            </div>
            <div class="text-center">
                <button [disabled]="formGroup.invalid" class="btn btn-primary w-100">Enregistrer</button>
            </div>
        </form>
    </p-dialog>
</div>