<section class="invoice-section" id="ZWNoZWM=" style="background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.856), rgb(255, 255, 255)), url('../../assets/background-failed.png'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 m-auto">
        <div class="card bg-transparent border-0">
            <div class="card-body p-1">
                <div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 m-auto">
                        <h3 class="text-center">Echec du paiement ❌</h3>
                        <img src="assets/wallet-animate.svg" alt="">
                        <div class="text-center">
                            <a class="btn-light mt-3" href="pay-for-somebody">
                                <i class="fa fa-refresh me-3"></i>
                                Réessayer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>