<section class="invoice-section" id="c3VjY2Vzcw==" style="background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.368)), url('../../assets/background-success.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 m-auto">
        <div class="card bg-transparent border-0">
            <div class="card-body p-1">
                <div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 m-auto">
                        <h3 class="text-center">Paiement effectué avec succès !</h3>
                        <img src="assets/E-Wallet-pana.svg" alt="">
                        <div class="text-center">
                            <a class="btn-lightred mt-3" href="assets/file.pdf" target="_blank">
                                <i class="fa fa-print me-3"></i>
                                Imprimer le reçu
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>