 <!-- Breadcrumb -->
 <div class="breadcrumb">
    <div class="container">
        <div class="bread-crumb-head">
            <div class="breadcrumb-title">
                <h2>Termes & Conditions</h2>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li><a href="/">Accueil </a></li>
                    <li>Termes & Conditions</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-border-img">
            <img src="assets/img/bg/line-bg.png" alt="Line Image">
        </div>
    </div>
</div>
<!-- Breadcrumb -->		     	

<!-- Terms & Conditions -->
<div class="section privacy-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms-policy">
                    <p class="aos" data-aos="fade-down">Cher utilisateur,</p>
                    <p data-aos="fade-down">Chez Mbaza, nous prenons très au sérieux la protection de votre identité et de vos informations personnelles. Votre confidentialité est notre priorité absolue, et nous nous engageons à garantir que vos données sont sécurisées et protégées.</p>
                    <p data-aos="fade-down">Toutes les informations que vous partagez avec nous lors de votre inscription et de votre utilisation de la plateforme Mbaza sont strictement confidentielles. Nous ne partagerons, ne vendrons ni ne louerons ces informations à des tiers sans votre consentement explicite.</p>
                    <p data-aos="fade-down">Nous mettons en œuvre des mesures de sécurité avancées pour protéger vos données contre tout accès non autorisé, toute perte, toute divulgation ou toute altération. Notre plateforme est régulièrement vérifiée et mise à jour conformément aux meilleures pratiques de sécurité des données de l'industrie.</p>
                    <p data-aos="fade-down">De plus, nous respectons toutes les réglementations en vigueur en matière de protection des données, telles que le Règlement général sur la protection des données. Cela garantit que vos droits en matière de confidentialité et de protection des données sont respectés.</p>
                    <p data-aos="fade-down">Merci de faire confiance à Mbaza pour la gestion de vos biens immobiliers en toute sécurité.</p>
                    <p data-aos="fade-down">Cordialement, l'équipe Mbaza"</p>
                    
                    <h3 class="text-center">Conditions d'utilisation et Politique de confiance pour Mbaza</h3>
                    <div class="text-center"><span>- Simplifiez votre vie immobilière -</span></div>
                    
                    <p data-aos="fade-down">Bienvenue sur Mbaza, la plateforme ultime pour simplifier votre vie immobilière. Nous comprenons l'importance de la confiance et de la sécurité lorsqu'il s'agit de transactions en ligne et nous nous engageons à garantir une expérience utilisateur transparente et sécurisée. Les Termes et Conditions suivants ont été conçus pour protéger les intérêts de nos utilisateurs tout en créant un environnement de confiance pour toutes les opérations effectuées sur notre plateforme.</p>
                    <h4>I. Conditions générales</h4>
                    <ol  data-aos="fade-down">
                        <li>Utilisation de la plateforme : En utilisant Mbaza, vous acceptez de respecter les conditions générales d'utilisation et de vous conformer aux lois en vigueur. Vous garantissez également l'exactitude des informations que vous fournissez lors de votre inscription sur la plateforme.</li>
                        <li>Confidentialité et sécurité : Nous nous engageons à protéger vos informations personnelles conformément à notre politique de confidentialité. Nous utilisons également les mesures technologiques appropriées pour maintenir la sécurité de vos données.</li>
                        <li>Responsabilité de l'utilisateur : Vous êtes seul responsable de toutes les activités effectuées sur votre compte Mbaza. Vous vous engagez à utiliser la plateforme de manière légale, éthique et responsable.</li>
                    </ol>

                    <h4>II. Paiement en ligne</h4>
                    <ol  data-aos="fade-down">
                        <li>Sécurité des paiements : Mbaza utilise des systèmes de paiement sécurisés pour garantir la confidentialité de vos informations financières. Nous ne stockons pas les détails de votre carte de paiement sur notre plateforme.</li>
                        <li>Remboursement : En cas de problèmes avec une transaction, nous ferons de notre mieux pour résoudre le problème de manière équitable et satisfaisante pour toutes les parties concernées.</li>
                        <li>Frais et commissions : Des frais peuvent être appliqués pour l'utilisation de certains services sur Mbaza. Ces frais seront clairement indiqués avant la confirmation de la transaction.</li>
                    </ol>

                    <h4>III. Achat et location des biens immobiliers</h4>
                    <ol  data-aos="fade-down">
                        <li>Exactitude des informations : Nous nous efforçons de fournir des informations précises et à jour sur tous les biens immobiliers disponibles sur Mbaza. Cependant, nous ne pouvons garantir l'exactitude à 100% et vous êtes invités à vérifier vous-même les détails importants avant de conclure toute transaction.</li>
                        <li>Responsabilité des utilisateurs : Les utilisateurs sont responsables de toute transaction conclue sur la plateforme Mbaza. Nous recommandons de mener des vérifications appropriées sur les biens immobiliers, de consulter des professionnels de l'immobilier si nécessaire et de prendre des décisions éclairées.</li>
                    </ol>

                    <h4>IV. Maison Pro - Techniciens à domicile </h4>
                    <ol  data-aos="fade-down">
                        <li>Sélection des techniciens : Nous mettons tout en œuvre pour recruter des techniciens qualifiés et compétents. Cependant, nous ne pouvons être tenus pour responsables des services fournis par les techniciens indépendants. Nous encourageons les utilisateurs à laisser des commentaires et des évaluations après chaque intervention afin de maintenir la qualité des services.</li>
                        <li>Responsabilité des utilisateurs : Les utilisateurs sont responsables de communiquer clairement leurs besoins aux techniciens et de s'assurer de leur disponibilité pendant les interventions. Nous ne pouvons garantir le succès de toutes les réparations ou installations.</li>
                    </ol>

                    <h4>V. Système de climatisation à domicile</h4>
                    <ol  data-aos="fade-down">
                        <li>Installation et maintenance : Nos techniciens de la climatisation sont formés pour effectuer des installations et des travaux de maintenance de haute qualité. Cependant, ils doivent se conformer aux normes de sécurité et aux réglementations en vigueur. Les utilisateurs sont encouragés à consulter les spécifications techniques avant de demander une installation.</li>
                        <li>Responsabilité des utilisateurs : Les utilisateurs sont responsables de l'entretien régulier de leurs systèmes de climatisation et doivent suivre les recommandations du fabricant pour assurer leur bon fonctionnement.</li>
                    </ol>

                    <p data-aos="fade-down">Chez Mbaza, nous valorisons la confiance et la satisfaction de nos utilisateurs. Nous nous engageons à garantir la sécurité de vos informations personnelles, à fournir des services de qualité et à offrir une expérience utilisateur optimale sur notre plateforme. En acceptant nos Termes et Conditions, vous adhérez à notre vision de simplifier votre vie immobilière tout en bénéficiant d'une protection juridique. Bienvenue sur Mbaza - votre partenaire de confiance dans le domaine immobilier.</p>

                    <p class="mb-0" data-aos="fade-down">Cordialement,L'équipe Mbaza</p>
                </div>
            </div>
        </div>		
    </div>	
</div>	
<!-- /Terms & Conditions -->