<hr class="mt-0">
<div class="dull-bg from-to" style="width: max-content;">
    <h5>Joseph Konan</h5>
    <p>Adressé à : BMS CI</p>
    <p>Date : 24 / 07 / 2023</p>
</div>
<div class="dull-bg from-to">
    <h5>Objet : Demande de prépaiement de loyer</h5>
    <h5 class="my-3">Madame / Monsieur,</h5>
    <p style="text-align: justify;">Je me permets de venir auprès de votre illustre institution financière vous informer qu’il a été convenu dans mon
        contrat de bail que la date limite de paiement du loyer mensuel est prévue le 24/07/2023.
        Sur ce, j’ai été ce mois confronté à quelques difficultés financières passagères en raison</p>
    <textarea class="form-control" rows="7" placeholder="Indiquer les motifs"></textarea>
    <p style="text-align: justify;">De ce fait, il me sera difficile de régler le loyer à la date prévue. En conséquence, je vous demande par la présente de bien vouloir prépayer mon loyer que je rembourserai le <input class="form-control" type="date"></p>
    <h5 style="text-align: justify;" class="text-muted my-3">NB : je reconnais que la date de remboursement que j’ai indiquée respecte les termes du modèle de contrat que j’ai signé auprès de votre institution financière pour bénéficier de cette solution secours.</h5>
    <p style="text-align: justify;">
        Monsieur, Madame Merci pour cette solution financière qui nous facilite la vie ! <br>
        Cordialement (Nom du locataire).
    </p>
</div>
<a class="btn btn-primary"><i class="feather-send me-3"></i>Envoyer</a>