<!-- Breadcrumb -->
<div class="breadcrumb">
    <div class="container">
        <div class="bread-crumb-head">
            <div class="breadcrumb-title">
                <h2>Mon espace</h2>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li><a href="/">Accueil </a></li>
                    <li>Mon espace</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-border-img">
            <img src="assets/img/bg/line-bg.png" alt="Line Image">
        </div>
    </div>
</div>
<!-- Breadcrumb -->

<section class="invoice-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 offset-md-1 col-md-10 col-lg-10">
                <div class="card">
                    <div class="head">
                        <a href="index.html" class="navbar-brand logo d-flex align-items-center">
                            <h5>Mon compte</h5>
                        </a>
                    </div>
                    <div class="dull-bg from-to">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                <h5>Infos personnelles</h5>
                                <p>ID : {{bailleurInfo.bailleur.bailleurNumero}}</p>
                                <p>{{bailleurInfo.bailleur.bailleurNomPrenoms}}</p>
                                <p>{{bailleurInfo.bailleur.bailleurEmail}}</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                <h5>Infos propriétés & locataires </h5>
                                <p>{{bailleurInfoSuite.proprietes.length}} Propriétés</p>
                                <p> {{bailleurInfoSuite.locataires.length}} locataires</p>
                                <p>{{proprieteLibre}} Propriétés libres </p>
                            </div>
                            <!--div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                <h5>Infos propriétés & locataires </h5>
                                <p>{{bailleurInfo.proprietes.length}} Propriétés</p>
                                <p>{{bailleurInfo.locataires.length}} locataires</p>
                                <p>{{proprieteLibre}} Propriétés libres </p>
                            </div-->
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-lg-end text-md-end text-center">
                                <img *ngIf="!bailleurInfo.bailleur.bailleurLienPhoto" src="assets/images/profile/user-1.jpg"
                                    alt="" width="80" height="80"  />
                                <img *ngIf="bailleurInfo.bailleur.bailleurLienPhoto" src="{{ urlg }}{{ bailleurInfo.bailleur.bailleurLienPhoto }}" alt=""
                                    width="80" height="80" />
                                <!--table class="short-info w-100">
                                    <tr>
                                        <td>Réf : </td>
                                        <td class="float-end"><span>HAB0089HJ</span></td>
                                    </tr>
                                    <tr>
                                        <td>Loyer minimal:</td>
                                        <td class="float-end"><span>255,000 XOF</span></td>
                                    </tr>
                                    <tr>
                                        <td>Loyer maximal :</td>
                                        <td class="float-end"><span>555,000 XOF</span></td>
                                    </tr>
                                </table-->
                            </div>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>