<!-- Home Banner -->
<section class="banner-section" id="banner-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="banner-content" data-aos="fade-down">
					<h1>Découvrez une expérience unique axée sur <span>vos besoins</span></h1>
					<p>Achetez, vendez et gérez vos locataires avec Mbaza, plateforme de gestion immobilière.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="banner-search" data-aos="fade-down">
					<div class="banner-tab">
						<ul class="nav nav-tabs" id="bannerTab" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" id="buy-property" data-bs-toggle="tab"
									href="#buy_property" role="tab" aria-controls="buy_property"
									aria-selected="true">
									<img src="assets/img/icons/buy-icon.svg" alt="icon"> Paiement en ligne
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="rent-property" data-bs-toggle="tab" href="#rent_property"
									role="tab" aria-controls="rent_property" aria-selected="false">
									<img src="assets/img/icons/rent-icon.svg" alt="icon"> Paiement pour un Tiers
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content" id="bannerTabContent">
						<div class="tab-pane fade show active" id="buy_property" role="tabpanel"
							aria-labelledby="buy-property">
							<div class="banner-tab-property">
								<p>En quelques clics seulement, si vous êtes un locataire identifié, payez votre
									loyer par mobile Money et recevez une notification de paiement ainsi qu'une
									quittance du mois dans votre compte locataire.</p>
							</div>
						</div>
						<div class="tab-pane fade" id="rent_property" role="tabpanel"
							aria-labelledby="rent-property">
							<div class="banner-tab-property">
								<p>En quelques étapes simples, effectuez un paiement pour un tiers et recevez un
									reçu de paiement avec la quittance du mois dans le compte locataire.</p>
								<a class="btn-primary" href="pay-for-somebody">Procéder au paiement</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Home Banner -->

<!-- How It Work -->
<section class="howit-work" id="our-services">
	<div class="container">
		<div class="section-heading text-center">
			<h2>Nos Services</h2>
			<div class="sec-line">
				<span class="sec-line1"></span>
				<span class="sec-line2"></span>
			</div>
			<p>Simplifiez-vous la vie avec Mbaza !</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<div class="howit-work-card" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="100">
					<div class="work-card-icon">
						<span>
							<img src="assets/img/icons/work-icon-1.svg" alt="icon">
						</span>
					</div>
					<h4>01. Biens Immobiliers</h4>
					<p class="text-overflow">Découvrez un large choix de biens immobiliers à vendre ou à louer.
						Trouvez votre maison de rêve ou investissez dans des opportunités immobilières attractives.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="howit-work-card" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="200">
					<div class="work-card-icon">
						<span class="bg-red">
							<img src="assets/img/icons/work-icon-2.svg" alt="icon">
						</span>
					</div>
					<h4 routerLink="air-conditionning" style="cursor: pointer;">02. Climatisation à Domicile</h4>
					<p class="text-overflow">Profitez d'un confort optimal chez vous grâce à nos services de
						climatisation.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="howit-work-card" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="300">
					<div class="work-card-icon">
						<span class="bg-green">
							<img src="assets/img/icons/work-icon-3.svg" alt="icon">
						</span>
					</div>
					<h4 routerLink="home-pro" style="cursor: pointer;">03. Maison Pro</h4>
					<p class="text-overflow">Sélectionnez le service dont vous avez besoin, et nous vous mettons en
						contact avec des prestataires qualifiés proches de chez-vous. </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /How It Work -->

<!-- Property Type -->
<section class="property-type-sec">
	<div class="section-shape-imgs">
		<img src="assets/img/shapes/property-sec-bg-1.png" class="rectangle-left" alt="icon">
		<img src="assets/img/shapes/property-sec-bg-2.png" class="rectangle-right" alt="icon">
		<img src="assets/img/icons/red-circle.svg" class="bg-09" alt="Image">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="section-heading" data-aos="fade-down" data-aos-duration="1000">
					<h2>Explorez nos différentes propriétés</h2>
					<div class="sec-line">
						<span class="sec-line1"></span>
						<span class="sec-line2"></span>
					</div>
					<p>Nous vous proposons les meilleures offres et nous vous accompagnons dans vos démarches.</p>
				</div>
				<div class="owl-navigation">
					<div class="owl-nav mynav1 nav-control"></div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="property-type-slider owl-carousel">
					<div class="property-card" data-aos="fade-down" data-aos-duration="1000">
						<div class="property-img">
							<img src="assets/img/icons/property-icon-1.svg" alt="icon">
						</div>
						<div class="property-name">
							<h4>Studios</h4>
							<p>30 Propriétés</p>
						</div>
					</div>
					<div class="property-card" data-aos="fade-down" data-aos-duration="1000">
						<div class="property-img">
							<img src="assets/img/icons/property-icon-2.svg" alt="icon">
						</div>
						<div class="property-name">
							<h4>Bureaux</h4>
							<p>25 Propriétés</p>
						</div>
					</div>
					<div class="property-card" data-aos="fade-down" data-aos-duration="1000">
						<div class="property-img">
							<img src="assets/img/icons/property-icon-3.svg" alt="icon">
						</div>
						<div class="property-name">
							<h4>Villas</h4>
							<p>40 Propriétés</p>
						</div>
					</div>
					<div class="property-card" data-aos="fade-down" data-aos-duration="1000">
						<div class="property-img">
							<img src="assets/img/icons/property-icon-4.svg" alt="icon">
						</div>
						<div class="property-name">
							<h4>Appartement</h4>
							<p>35 Propriétés</p>
						</div>
					</div>
					<div class="property-card" data-aos="fade-down" data-aos-duration="1000">
						<div class="property-img">
							<img src="assets/img/icons/property-icon-1.svg" alt="icon">
						</div>
						<div class="property-name">
							<h4>Magasin</h4>
							<p>30 Propriétés</p>
						</div>
					</div>
					<div class="property-card" data-aos="fade-down" data-aos-duration="1000">
						<div class="property-img">
							<img src="assets/img/icons/property-icon-1.svg" alt="icon">
						</div>
						<div class="property-name">
							<h4>Terrain</h4>
							<p>30 Propriétés</p>
						</div>
					</div>
					<div class="property-card" data-aos="fade-down" data-aos-duration="1000">
						<div class="property-img">
							<img src="assets/img/icons/property-icon-1.svg" alt="icon">
						</div>
						<div class="property-name">
							<h4>Rés. meublée</h4>
							<p>30 Propriétés</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Property Type -->

<!-- Feature Properties For Sale-->
<section class="feature-property-sec">
	<div class="container">
	  <div class="section-heading text-center">
		<h2>Propriétés En Vente</h2>
		<div class="sec-line">
		  <span class="sec-line1"></span>
		  <span class="sec-line2"></span>
		</div>
		<p>Une sélection de lieux de qualité triés sur le volet</p>
	  </div>
	  <div class="row">
		<div class="col-md-12">
			<div class="d-flex align-items-center justify-content-center">
				<loader *ngIf="isLoading" type="ellipsis"></loader>
			</div>
		  <div class="feature-slider owl-carousel">
			<ng-container *ngIf="!isLoading">
				<div class="slider-col" *ngFor="let n of touslesBiens">
					<div
					  class="product-custom"
					  data-aos="fade-down"
					  data-aos-duration="1000"
					>
					  <div class="profile-widget">
						<div class="doc-img">
						  <a href="properties/0" class="property-img">
							<img
							  class="img-fluid"
							  alt="Property Image"
							  src="{{ urlg }}{{ n.bienImage }}"
							  style="height:293px; width:416px;"
							/>
						  </a>
						  <div class="product-amount">
							<span>{{ n.bienPrix | number }} FCFA </span>
						  </div>
						  <div class="feature-rating">
							<div>
							  <div class="featured">
								<span>En vedette</span>
							  </div>
							  <div class="new-featured ms-2">
								<span>{{ n.bienCategorie }}</span>
							  </div>
							</div>
							<a href="javascript:void(0)">
							  <div class="favourite selected">
								<span><i class="fa-regular fa-heart"></i></span>
							  </div>
							</a>
						  </div>
						  <div class="user-avatar">
							<img src="assets/img/profiles/avatar-01.jpg" alt="User" />
						  </div>
						</div>
						<div class="pro-content">
						  <div class="rating">
							<span class="rating-count">
							  <i class="fa-solid fa-star checked"></i>
							  <i class="fa-solid fa-star checked"></i>
							  <i class="fa-solid fa-star checked"></i>
							  <i class="fa-solid fa-star checked"></i>
							  <i class="fa-solid fa-star checked"></i>
							</span>
							<p class="rating-review">
							  <span>5.0</span>(20 Commentaires)
							</p>
						  </div>
						  <h3 class="title">
							<a href="properties/0">{{ n.bienLibelle }}</a>
						  </h3>
						  <p>
							<span><i class="feather-map-pin"></i></span
							>{{ n.bienAdresse }}
						  </p>
						  <ul class="d-flex details">
							<li>
							  <img src="assets/img/icons/bed-icon.svg" alt="bed-icon" />
							  {{ n.bienNbrePiece }} Pièces
							</li>
							<li></li>
							<li>
							  <img
								src="assets/img/icons/building-icon.svg"
								alt="building-icon"
							  />
							  {{ n.bienSurface }} m2
							</li>
						  </ul>
		
						  <ul class="property-category d-flex justify-content-between">
							<li>
							  <span class="list">Ajouté le : </span>
							  <span class="date">16 Jan 2023</span>
							</li>
							<li>
							  <span class="category list">Catégorie : </span>
							  <span class="category-value date">{{
								n.typebien.libelleTypebien
							  }}</span>
							</li>
						  </ul>
						</div>
					  </div>
					</div>
				  </div>
			</ng-container>
  
			<!--div class="slider-col">
								  <div class="product-custom" data-aos="fade-down" data-aos-duration="1000">
									  <div class="profile-widget">
										  <div class="doc-img">
											  <a href="properties/0" class="property-img">
												  <img class="img-fluid" alt="Property Image"
													  src="assets/img/product/product-3.jpg">
											  </a>
											  <div class="product-amount">
												  <span>$63,000</span>
											  </div>
											  <div class="feature-rating">
												  <div>
													  <div class="featured">
														  <span>En vedette</span>
													  </div>
												  </div>
												  <a href="javascript:void(0)">
													  <div class="favourite">
														  <span><i class="fa-regular fa-heart"></i></span>
													  </div>
												  </a>
											  </div>
											  <div class="user-avatar">
												  <img src="assets/img/profiles/avatar-03.jpg" alt="User">
											  </div>
										  </div>
										  <div class="pro-content">
											  <div class="rating">
												  <span class="rating-count">
													  <i class="fa-solid fa-star checked"></i>
													  <i class="fa-solid fa-star checked"></i>
													  <i class="fa-solid fa-star checked"></i>
													  <i class="fa-solid fa-star checked"></i>
													  <i class="fa-solid fa-star"></i>
												  </span>
												  <p class="rating-review"><span>4.0</span>(28 Commentaires)</p>
											  </div>
											  <h3 class="title">
												  <a href="properties/0">Summer house</a>
											  </h3>
											  <p><i class="feather-map-pin"></i>82-25 Parsons Blvd, Jamaica, NY 11432, USA</p>
											  <ul class="d-flex details">
												  <li>
													  <img src="assets/img/icons/bed-icon.svg" alt="bed-icon">
													  2 Beds
												  </li>
												  <li>
													  <img src="assets/img/icons/bath-icon.svg" alt="bath-icon">
													  1 Bath
												  </li>
												  <li>
													  <img src="assets/img/icons/building-icon.svg" alt="building-icon">
													  5000 Sqft
												  </li>
											  </ul>
  
											  <ul class="property-category d-flex justify-content-between">
												  <li>
													  <span class="list">Ajouté le : </span>
													  <span class="date">13 Jan 2023</span>
												  </li>
												  <li>
													  <span class="category list">Catégorie : </span>
													  <span class="category-value date">House</span>
												  </li>
											  </ul>
										  </div>
									  </div>
								  </div>
								  <div class="product-custom" data-aos="fade-down" data-aos-duration="1000">
									  <div class="profile-widget">
										  <div class="doc-img">
											  <a href="rent-detail-viewhtml" class="property-img">
												  <img class="img-fluid" alt="Property Image"
													  src="assets/img/product/product-4.jpg">
											  </a>
											  <div class="product-amount">
												  <span>$51,000</span>
											  </div>
											  <div class="feature-rating">
												  <div>
													  <div class="featured">
														  <span>En vedette</span>
													  </div>
												  </div>
												  <a href="javascript:void(0)">
													  <div class="favourite">
														  <span><i class="fa-regular fa-heart"></i></span>
													  </div>
												  </a>
											  </div>
											  <div class="user-avatar">
												  <img src="assets/img/profiles/avatar-04.jpg" alt="User">
											  </div>
										  </div>
										  <div class="pro-content">
											  <div class="rating">
												  <span class="rating-count">
													  <i class="fa-solid fa-star checked"></i>
													  <i class="fa-solid fa-star checked"></i>
													  <i class="fa-solid fa-star checked"></i>
													  <i class="fa-solid fa-star checked"></i>
													  <i class="fa-solid fa-star checked"></i>
												  </span>
												  <p class="rating-review"><span>5.0</span>(15 Commentaires)</p>
											  </div>
											  <h3 class="title">
												  <a href="properties/0">Minimalist and bright flat</a>
											  </h3>	
											  <p><i class="feather-map-pin"></i>518-520 8th Ave, New York, NY 10018, USA</p>
											  <ul class="d-flex details">
												  <li>
													  <img src="assets/img/icons/bed-icon.svg" alt="bed-icon">
													  3 Beds
												  </li>
												  <li>
													  <img src="assets/img/icons/bath-icon.svg" alt="bath-icon">
													  1 Baths
												  </li>
												  <li>
													  <img src="assets/img/icons/building-icon.svg" alt="building-icon">
													  25000 Sqft
												  </li>
											  </ul>
  
											  <ul class="property-category d-flex justify-content-between">
												  <li>
													  <span class="list">Ajouté le : </span>
													  <span class="date">18 Jan 2023</span>
												  </li>
												  <li>
													  <span class="category list">Catégorie : </span>
													  <span class="category-value date">Flats</span>
												  </li>
											  </ul>
										  </div>
									  </div>
								  </div>
							  </div-->
  
			<!--div class="slider-col">
						  <div class="product-custom" data-aos="fade-down" data-aos-duration="1000">
							  <div class="profile-widget">
								  <div class="doc-img">
									  <a href="properties/0" class="property-img">
										  <img class="img-fluid" alt="Property Image"
											  src="assets/img/product/product-5.jpg">
									  </a>
									  <div class="product-amount">
										  <span>$29,000</span>
									  </div>
									  <div class="feature-rating">
										  <div>
											  <div class="featured">
												  <span>En vedette</span>
											  </div>
										  </div>
										  <a href="javascript:void(0)">
											  <div class="favourite">
												  <span><i class="fa-regular fa-heart"></i></span>
											  </div>
										  </a>
									  </div>
									  <div class="user-avatar">
										  <img src="assets/img/profiles/avatar-05.jpg" alt="User">
									  </div>
								  </div>
								  <div class="pro-content">
									  <div class="rating">
										  <span class="rating-count">
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
										  </span>
										  <p class="rating-review"><span>5.0</span>(20 Commentaires)</p>
									  </div>
									  <h3 class="title">
										  <a href="properties/0">Two storey modern flat</a>
									  </h3>
									  <p><i class="feather-map-pin"></i>470 Park Ave S, New York, NY 10016</p>
									  <ul class="d-flex details">
										  <li>
											  <img src="assets/img/icons/bed-icon.svg" alt="bed-icon">
											  2 Beds
										  </li>
										  <li>
											  <img src="assets/img/icons/bath-icon.svg" alt="bath-icon">
											  2 Baths
										  </li>
										  <li>
											  <img src="assets/img/icons/building-icon.svg" alt="building-icon">
											  31000 Sqft
										  </li>
									  </ul>
  
									  <ul class="property-category d-flex justify-content-between">
										  <li>
											  <span class="list">Ajouté le : </span>
											  <span class="date">19 Jan 2023</span>
										  </li>
										  <li>
											  <span class="category list">Catégorie : </span>
											  <span class="category-value date">Flat</span>
										  </li>
									  </ul>
								  </div>
							  </div>
						  </div>
						  <div class="product-custom" data-aos="fade-down" data-aos-duration="1000">
							  <div class="profile-widget">
								  <div class="doc-img">
									  <a href="properties/0" class="property-img">
										  <img class="img-fluid" alt="Property Image"
											  src="assets/img/product/product-2.jpg">
									  </a>
									  <div class="product-amount">
										  <span>$80,000</span>
									  </div>
									  <div class="feature-rating">
										  <div>
											  <div class="featured">
												  <span>En vedette</span>
											  </div>
										  </div>
										  <a href="javascript:void(0)">
											  <div class="favourite">
												  <span><i class="fa-regular fa-heart"></i></span>
											  </div>
										  </a>
									  </div>
									  <div class="user-avatar">
										  <img src="assets/img/profiles/avatar-06.jpg" alt="User">
									  </div>
								  </div>
								  <div class="pro-content">
									  <div class="rating">
										  <span class="rating-count">
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star"></i>
										  </span>
										  <p class="rating-review"><span>4.0</span>(12 Commentaires)</p>
									  </div>
									  <h3 class="title">
										  <a href="properties/0">Modern apartment</a>
									  </h3>
									  <p><i class="feather-map-pin"></i>122 N Morgan St, Chicago, IL 60607, USA</p>
									  <ul class="d-flex details">
										  <li>
											  <img src="assets/img/icons/bed-icon.svg" alt="bed-icon">
											  3 Beds
										  </li>
										  <li>
											  <img src="assets/img/icons/bath-icon.svg" alt="bath-icon">
											  3 Baths
										  </li>
										  <li>
											  <img src="assets/img/icons/building-icon.svg" alt="building-icon">
											  12000 Sqft
										  </li>
									  </ul>
  
									  <ul class="property-category d-flex justify-content-between">
										  <li>
											  <span class="list">Ajouté le : </span>
											  <span class="date">20 Jan 2023</span>
										  </li>
										  <li>
											  <span class="category list">Catégorie : </span>
											  <span class="category-value date">Apartment</span>
										  </li>
									  </ul>
								  </div>
							  </div>
						  </div>
					  </div>
  
					  <div class="slider-col">
						  <div class="product-custom" data-aos="fade-down" data-aos-duration="1000">
							  <div class="profile-widget">
								  <div class="doc-img">
									  <a href="properties/0" class="property-img">
										  <img class="img-fluid" alt="Property Image"
											  src="assets/img/product/product-4.jpg">
									  </a>
									  <div class="product-amount">
										  <span>$51,000</span>
									  </div>
									  <div class="feature-rating">
										  <div>
											  <div class="featured">
												  <span>En vedette</span>
											  </div>
										  </div>
										  <a href="javascript:void(0)">
											  <div class="favourite">
												  <span><i class="fa-regular fa-heart"></i></span>
											  </div>
										  </a>
									  </div>
									  <div class="user-avatar">
										  <img src="assets/img/profiles/avatar-07.jpg" alt="User">
									  </div>
								  </div>
								  <div class="pro-content">
									  <div class="rating">
										  <span class="rating-count">
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
										  </span>
										  <span class="rating-review">5.0 (60 Commentaires)</span>
									  </div>
									  <h3 class="title">
										  <a href="properties/0">Minimalist and bright flat</a>
									  </h3>
									  <p><i class="feather-map-pin"></i>518-520 8th Ave, New York, NY 10018, USA</p>
									  <ul class="d-flex details">
										  <li>
											  <img src="assets/img/icons/bed-icon.svg" alt="bed-icon">
											  4 Beds
										  </li>
										  <li>
											  <img src="assets/img/icons/bath-icon.svg" alt="bath-icon">
											  2 Baths
										  </li>
										  <li>
											  <img src="assets/img/icons/building-icon.svg" alt="building-icon">
											  23000 Sqft
										  </li>
									  </ul>
  
									  <ul class="property-category d-flex justify-content-between">
										  <li>
											  <span class="list">Ajouté le : </span>
											  <span class="date">21 Jan 2023</span>
										  </li>
										  <li>
											  <span class="category list">Catégorie : </span>
											  <span class="category-value date">Flats</span>
										  </li>
									  </ul>
								  </div>
							  </div>
						  </div>
						  <div class="product-custom" data-aos="fade-down" data-aos-duration="1000">
							  <div class="profile-widget">
								  <div class="doc-img">
									  <a href="properties/0" class="property-img">
										  <img class="img-fluid" alt="Property Image"
											  src="assets/img/product/product-3.jpg">
									  </a>
									  <div class="product-amount">
										  <span>$41000</span>
									  </div>
									  <div class="feature-rating">
										  <div>
											  <div class="featured">
												  <span>En vedette</span>
											  </div>
										  </div>
										  <a href="javascript:void(0)">
											  <div class="favourite">
												  <span><i class="fa-regular fa-heart"></i></span>
											  </div>
										  </a>
									  </div>
									  <div class="user-avatar">
										  <img src="assets/img/profiles/avatar-05.jpg" alt="User">
									  </div>
								  </div>
								  <div class="pro-content">
									  <div class="rating">
										  <span class="rating-count">
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
											  <i class="fa-solid fa-star checked"></i>
										  </span>
										  <span class="rating-review">5.0 (50 Commentaires)</span>
									  </div>
									  <h3 class="title">
										  <a href="properties/0">Place perfect for nature</a>
									  </h3>
									  <p><i class="feather-map-pin"></i>318-S Oakley Blvd, Chicago, IL 60612, USA</p>
									  <ul class="d-flex details">
										  <li>
											  <img src="assets/img/icons/bed-icon.svg" alt="bed-icon">
											  2 Beds
										  </li>
										  <li>
											  <img src="assets/img/icons/bath-icon.svg" alt="bath-icon">
											  4 Baths
										  </li>
										  <li>
											  <img src="assets/img/icons/building-icon.svg" alt="building-icon">
											  15000 Sqft
										  </li>
									  </ul>
  
									  <ul class="property-category d-flex justify-content-between">
										  <li>
											  <span class="list">Ajouté le : </span>
											  <span class="date">16 Jan 2023</span>
										  </li>
										  <li>
											  <span class="category list">Catégorie : </span>
											  <span class="category-value date">Apartment</span>
										  </li>
									  </ul>
								  </div>
							  </div>
						  </div>
					  </div-->
		  </div>
  
		  <div
			class="view-property-btn d-flex justify-content-center"
			data-aos="fade-down"
			data-aos-duration="1000"
		  >
			<a href="properties" class="btn-primary"
			  >Voir Toutes Les Propriétés</a
			>
		  </div>
		</div>
	  </div>
	</div>
	<div class="bg-imgs">
	  <img src="assets/img/bg/price-bg.png" class="bg-01" alt="icon" />
	  <img src="assets/img/icons/blue-circle.svg" class="bg-02" alt="icon" />
	  <img src="assets/img/icons/red-circle.svg" class="bg-03" alt="icon" />
	</div>
  </section>
  <!-- /Feature Properties For Sale -->

<!-- Partners -->
<div class="partners-sec border-0 pb-4">
	<div class="section-heading text-center">
		<h2>Des partenaires crédibles à travers le monde</h2>
		<div class="sec-line">
			<span class="sec-line1"></span>
			<span class="sec-line2"></span>
		</div>
		<p>Chaque jour, nous établissons la confiance grâce à la communication, à la transparence et aux résultats.
		</p>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="partners-slider owl-carousel">
				<div class="partner-icon">
					<img src="assets/img/icons/partner-icon-1.svg" alt="Partners">
				</div>
				<div class="partner-icon">
					<img src="assets/img/icons/partner-icon-2.svg" alt="Partners">
				</div>
				<div class="partner-icon">
					<img src="assets/img/icons/partner-icon-3.svg" alt="Partners">
				</div>
				<div class="partner-icon">
					<img src="assets/img/icons/partner-icon-4.svg" alt="Partners">
				</div>
				<div class="partner-icon">
					<img src="assets/img/icons/partner-icon-5.svg" alt="Partners">
				</div>
				<div class="partner-icon">
					<img src="assets/img/icons/partner-icon-6.svg" alt="Partners">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Partners -->

<!-- Faq -->
<section class="faq-section" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="faq-img">
					<img src="assets/img/faq-img.jpg" alt="icon">
				</div>
			</div>
			<div class="col-lg-8">
				<div class="section-heading" data-aos="fade-down" data-aos-duration="2000">
					<h2>Foire Aux Questions</h2>
					<div class="sec-line">
						<span class="sec-line1"></span>
						<span class="sec-line2"></span>
					</div>
					<!-- <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
						consequuntur magni
						dolores eos qui ratione voluptatem sequi nesciunt</p> -->
				</div>
				<div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
					<h4 class="faq-title">
						<a class="collapsed" data-bs-toggle="collapse" href="#faqone" aria-expanded="false">1. C’est
							quoi mbaza ?</a>
					</h4>
					<div id="faqone" class="card-collapse collapse">
						<div class="faq-info">
							<p>Mbaza est une plateforme en ligne qui permet de payer les loyers de manière pratique
								et sécurisée. Elle facilite les transactions entre locataires et bailleurs en
								offrant des fonctionnalités telles que des rappels de paiement, des reçus
								électroniques et un suivi des paiements.</p>
						</div>
					</div>
				</div>
				<div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
					<h4 class="faq-title">
						<a class="collapsed" data-bs-toggle="collapse" href="#faqtwo" aria-expanded="false">2.
							Comment obtenir un compte Mbaza ?</a>
					</h4>
					<div id="faqtwo" class="card-collapse collapse">
						<div class="faq-info">
							<p>Pour obtenir un compte Mbaza , il faut être propriétaire d'un bien immobilier. Si
								vous êtes locataire, votre bailleur doit d'abord avoir un compte chez nous. Cela
								garantit que seules les personnes autorisées peuvent utiliser la plateforme</p>
						</div>
					</div>
				</div>
				<div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
					<h4 class="faq-title">
						<a class="" data-bs-toggle="collapse" href="#faqthree" aria-expanded="false">3. Les données
							personnelles sont elles protégées ?</a>
					</h4>
					<div id="faqthree" class="card-collapse collapse show">
						<div class="faq-info">
							<p>En ce qui concerne la protection des données personnelles, Mbaza prend la sécurité
								très au sérieux. Les données des utilisateurs sont protégées par des mesures de
								sécurité avancées pour assurer la confidentialité de leurs informations.</p>
						</div>
					</div>
				</div>
				<div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
					<h4 class="faq-title">
						<a class="collapsed" data-bs-toggle="collapse" href="#faqfour" aria-expanded="false">4. A
							quel moment peut on payer son loyer sur Mbaza ?</a>
					</h4>
					<div id="faqfour" class="card-collapse collapse">
						<div class="faq-info">
							<p>La plateforme Mbaza permet de payer ses loyers 24h/24 et sans se déplacer. Vous
								pouvez accéder à votre compte en ligne et effectuer vos paiements à tout moment,
								depuis n'importe quel endroit disposant d'une connexion internet.</p>
						</div>
					</div>
				</div>
				<div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
					<h4 class="faq-title">
						<a class="collapsed" data-bs-toggle="collapse" href="#faqfive" aria-expanded="false">5. Je
							peux devenir commercial freelance chez mbaza ?</a>
					</h4>
					<div id="faqfive" class="card-collapse collapse">
						<div class="faq-info">
							<p>Nous recrutons et formons des commerciaux qualifiés et expérimentés. Ces agents
								seront responsables de la visite sur le terrain des immeubles, de la collecte
								d'informations sur les propriétaires, de la négociation des contrats de location et
								de la perception des commissions sur les loyers mensuels. Nous avons également en
								place un système de suivi des performances et une rémunération basée sur les
								résultats pour optimiser la motivation et la productivité de nos agents.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Faq -->

<!-- Agent Register -->
<section class="agent-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-8">
				<div class="section-heading" data-aos="fade-down" data-aos-duration="2000">
					<h2>Nous contacter</h2>
					<div class="sec-line">
						<span class="sec-line1"></span>
						<span class="sec-line2"></span>
					</div>
					<p>Nous sommes disponibles à vous fournir l’aide et les informations appropriées</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="register-btn" data-aos="fade-down" data-aos-duration="2000">
					<a href="contact-us" class="btn-primary">Laissez-nous un message</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-imgs">
		<img src="assets/img/icons/blue-circle.svg" class="bg-06" alt="icon">
		<img src="assets/img/icons/red-circle.svg" class="bg-07" alt="icon">
	</div>
</section>
<!-- /Agent Register -->

<!-- News Letter -->
<section class="news-letter-sec" id="newsletter">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="news-heading" data-aos="fade-down" data-aos-duration="2000">
					<h2>Inscrivez-vous à Notre Newsletter</h2>
					<p>Entrez votre adresse e-mail pour recevoir nos actualités</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="email-form" data-aos="fade-down" data-aos-duration="2000">
					<form action="#">
						<input type="email" class="form-control" placeholder="Entrez Votre Adresse Email">
						<button class="btn-primary">Souscrire</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- News Letter -->